@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50vh);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50vh);
  }
}

.scroll-animate {
  animation: scrollUp 25s linear infinite;
}

.scroll-animate-down {
  animation: scrollDown 25s linear infinite;
}
